<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613778494881-ljsd042a6498q0t1vv11sdip91a51ugu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613778494881-ljsd042a6498q0t1vv11sdip91a51ugu</string>
	<key>API_KEY</key>
	<string>AIzaSyDWP7QAQdV33mV34qRsz661nul6Tav2D1M</string>
	<key>GCM_SENDER_ID</key>
	<string>613778494881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.modernlogintute</string>
	<key>PROJECT_ID</key>
	<string>profrate-a38d5</string>
	<key>STORAGE_BUCKET</key>
	<string>profrate-a38d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613778494881:ios:c1e66368ba3edcda6f27e0</string>
</dict>
</plist>